@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../appsfonts/Comfortaa-Bold.woff2') format('woff2'),
        url('../appsfonts/Comfortaa-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Comfortaa-Medium';
    src: url('../appsfonts/Comfortaa-Medium.woff2') format('woff2'),
        url('../appsfonts/Comfortaa-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../appsfonts/Comfortaa-Regular.woff2') format('woff2'),
        url('../appsfonts/Comfortaa-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Comfortaa-SemiBold';
    src: url('../appsfonts/Comfortaa-SemiBold.woff2') format('woff2'),
        url('../appsfonts/Comfortaa-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito-Regular';
    src: url('../appsfonts/Nunito-Regular.woff2') format('woff2'),
        url('../appsfonts/Nunito-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../appsfonts/Roboto-Medium.woff2') format('woff2'),
        url('../appsfonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}