html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Comfortaa-Regular';
}
a {
    display: inline-block;
    text-decoration: none;
    // color: $text;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}
.logo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
}

.menu-btn {
    position: relative;
}
.menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 0;
    margin-right: 50px;
    transition: all .4s;
    &__item {
        display: block;
        font-family: 'Comfortaa-SemiBold';
        font-size: 0;
        padding: 0;
        text-align: center;
        color: transparent;
        border-bottom: 1px solid transparent;
        transition: all .4s;
        &:hover {
            background-color: transparent;
            color: transparent;
            border-bottom: 1px solid transparent;
        }
    }
}


.menu-btn.active {
    border: 1px solid rgb(162, 162, 162);
    box-shadow: inset 2px 2px 8px #000;
    &:hover {
        border: 1px solid rgb(162, 162, 162);
        box-shadow: inset 2px 2px 8px #000;
    }
    .menu {
        width: 650px;
        background-color: #fff;
        right: 100%;
        &__item {
            font-size: 18px;
            padding: 20px 25px;
            color: $main;
            border-bottom: 1px solid $main;
            &:hover {
                background-color: $dark;
                color: #fff;
                border-bottom: 1px solid $act;
            }
        }
    }
}
.footer__snetwork .menu {
    outline: 10000px solid transparent;
}

.menu-btn--footer.active {
    .menu {
        top: -400px;
        box-shadow: -38px -38px 20px rgba(16, 16, 16, 0.713), 
        38px 38px 20px rgba(16, 16, 16, 0.713);
        outline: 10000px solid rgba(16, 16, 16, 0.713);
    }
}

.icon-transparent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    font-size: 45px;
    border-radius: 50%;
    margin: 0 auto 50px;
    &:before {
        padding: 15px;
    }
}
.btn-main {
    border-radius: 50px;
    border: 1px solid $main;
    padding: 12px 0 10px;
    color: $main;
    transition: .3s;
    &:hover {
        box-shadow: 4px 3px 8px rgb(19, 60, 40);
        border: 1px solid transparent;
    }
    &--act {
        border-radius: 50px;
        background-color: $act;
        padding: 22px 85px 18px;
        color: #fff;
        text-transform: uppercase;
        transition: .3s;
        &:hover {
            box-shadow: 4px 3px 8px rgb(0, 0, 0);
        }
        &:active {
            box-shadow: inset 4px 3px 8px rgb(0, 0, 0);
        }
    }
    &:active {
        box-shadow: inset 4px 3px 8px rgb(19, 60, 40);
    }
}
.dynamic {        
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/twodays.jpg);
    width: 100%;
    min-height: 344px;
    &__inner {
        padding: 60px 0;
        text-align: center;
        color: #fff;
    }
    &__icon {
        color: #fff;
        border: 1px solid #fff;
    }
    &__title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    &__text {
        font-size: 22px;
        line-height: 28px;
        max-width: 50%;
        margin: 0 auto;
    }
}