// https://color.romanuke.com/tsvetovaya-palitra-3611/
$main: #0e2d21; // темно-зеленый
$lgreen: #38876f; //светло-зеленый
$main2:#f1c79a; //беж
$dark: #1c1f20; //темно-серый
$act: #e16118; //оранжевый
