@import "fonts";
@import "vars";
@import "global";
@import "media";
//-----------------------------------------
.header {
    &__wrapper {
        z-index: 2;
        display: flex;
        justify-content: space-between;
        height: 100vh;
        width: 100%;
    }
    &__inner {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 6% 0;
        align-items: center;
    }
    &__logo {
        width: 220px;
        height: 180px;
        background-image: url(../images/full-logo.png);
    }
    &__title {
        font-size: 64px;
        line-height: 80px;
        font-family: 'RubikMonoOne-Regular';
        width: 100%;
        max-width: 833px;
        z-index: 3;
        margin-left: 50%;
        transform: translate(-5%, 0);
        span {
            color: #fff;
            background-color: $main;
            padding: 4px 12px 0;
            margin-bottom: 15px;
        }
    }
    &__video {
        max-width: 75%;
        object-fit: cover;
        position: relative;
        &__layer {
            width: 75%;
            height: 100%;
            position: absolute; 
            top: 0;
            right: 0;
        }
    }
}
.snetwork {
    position: absolute; 
    background-color: #0f2821c5;
    width: 20%;
    height: 0;
    right: 0;
    top: 0;
    transition: all .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__link {
        color: transparent;
        border: 1px solid transparent;
        font-size: 0;
        margin-bottom: 12px;
        padding: 18px;
        border-radius: 50%;
        position: relative;
        transition: all .3s;
        &.menu-btn {
            color: transparent;
            border: 1px solid transparent;
            cursor: pointer;
            &:active {
                border: 1px solid $act;
                box-shadow: inset 2px 2px 8px #000;     
            }
        }
        &:hover {
            box-shadow: -1px -1px 4px rgb(92, 92, 92), 3px 3px 8px #000;
            .snetwork__hoverbox {
                width: 260px;
                border: 1px solid #fff;
                font-size: 16px;
            }
        }
        &:active {
            border: 1px solid rgb(162, 162, 162);
            box-shadow: inset 2px 2px 8px #000;
        }
    }
    &__hoverbox {
        position: absolute;
        font-size: 0;
        right: 80px;
        top: 50%;
        transform: translate(0, -50%);
        font-family: 'Comfortaa-Regular';
        border: 1px solid transparent;
        padding: 15px 0;
        border-radius: 50px;
        width: 0;
        text-align: center;
        transition: all .5s;
    }
}
.header__video__layer:hover {
    .snetwork {
        height: 100%;
        .snetwork__link {
            font-size: 34px;
            color: #fff;
            border: 1px solid #fff;
        }
    }
    .snetwork__link.menu-btn {
        color: $act;
        border: 1px solid $act;
    }
}
.variant {
    &__inner {
        margin-top: 150px;
    }
    &__description {
        text-align: center;
        font-size: 24px;
        margin-bottom: 65px;
        text-transform: ofset;
    }
    &__title {
        text-align: center;
        font-size: 48px;
        margin-bottom: 65px;
        font-family: 'RubikMonoOne-Regular';
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 115px;
    }
    &__item + .variant__item {
        margin-left: 15px;
    }
    &__item {
        padding: 40px;
        width: 23%;
        border: 2px solid transparent;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        cursor: pointer;
        transition: .2s;
        &:hover {
            border: 2px solid rgb(107, 107, 107);
            .item__icon {
                box-shadow: -1px -1px 8px rgb(112, 112, 112), 1px 1px 8px rgb(112, 112, 112);
            }
        }
        &:active {
            box-shadow: inset -3px -3px 8px rgb(112, 112, 112), inset 3px 3px 8px rgb(112, 112, 112);
            .item__icon {
                box-shadow: none;
            }
        }
    }


}
.item {
    &__icon {
        text-align: center;
        color: $dark;
        border: 1px solid $dark;
        transition: .2s;
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 65px;
    }
    &__text {
        text-align: justify;
        font-size: 24px;
    }
}
.twodays {
    height: 400px;
    &:before {
        background-image: url(../images/twodays.jpg);
        height: 400px;
    }
}
.how {
    background-color: $main;
    padding: 40px 0 0;
    &__title {
        margin-bottom: 40px;
        text-align: center;
        color: #fff;
        font-size: 30px;
    }
    &__inner {
        display: flex;
        justify-content: center;
    }
    &__item {
        display: flex;
        margin-bottom: 60px;
        // margin-right: 25px;
        // border: 1px solid blue;
        align-items: center;
    }
    &__side {
        &--left {
            .how__item {
                justify-content: end;
            }
            .how__info {
                text-align: right;
                padding-left: 30%;
            }
        }
        &--right {
            padding: 70px 0;
            .how__item {
                justify-content: start;
                // margin-right: 0;
                // margin-left: 25px;
            }
            .how__info {
                text-align: left;
                padding-right: 30%;
            }
        }
    }
    &__icon {
        font-size: 65px;
        padding: 0 50px 0 30px;
        color: $main2;
        position: relative;
        .how__numb {
            position: absolute;
            right: -23px;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    &__side--right .how__icon {
        padding: 0 30px 0 50px;
        .how__numb {
            left: -23px;
        }
    } 

    &__item-title {
        color: $main2;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    &__item-text {
        font-family: 'Nunito-Regular';
        color: #fff;
        font-size: 18px;
        line-height: 20px;
    }
    &__numb {
        background-color: $dark;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            color: $main2;
            font-size: 16px;
        }
    }

}
.table {
    &__inner {
        padding: 100px 0;
    }
    &__title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 35px;
    }
    &__text {
        font-size: 19px;
        line-height: 24px;
        margin: 0 auto;
        max-width: 900px;
        text-align: center;
        margin-bottom: 60px;
    }
    &__all {
        // border
        // border: 1px solid grey;
        tr {
            width: 100%;
        }
        th {
            padding: 25px 0;
        }
    }
    &__col {
        width: 40%;
        font-family: 'Arsenal-Regular';
        font-size: 20px;
        padding: 25px 15px 25px 60px;
        text-align: justify;
        &--mark {
            width: 15%;
        }

    }
    &__ico {
        font-size: 36px;
        text-align: center;
        &--yes {
            color: $main;
        }
        &--no {
            color: $act;
        }
    }
    &__btn {
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
        text-transform: uppercase;
    }
}
.why {
    background-color: $main;
    background-image: url(../images/why.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__inner {
        height: 100%;
        padding: 12% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        color:#fff;
        text-align: center;
        font-size: 30px;
        // margin-bottom: 100px;

    }
    &__row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5% 0;
    }
    &__item {
        width: 20%;
        text-align: center;
        color: #fff;
    }
    &__item-ico {
        padding: 25px 0;
        font-size: 36px;
    }
    &__item-text {
        font-size: 20px;

    }
    &__btn {
        margin: 65px auto 0;
        cursor: pointer;
    }
}
.quest {
    height: 400px;
    &:before {
        background-image: url(../images/quest.jpg);
        height: 400px;
    }
}
.faq {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-image: url(../images/faq.png);
    height: auto;
    // min-height: 60vh;
    &__inner {
        padding: 70px 0 80px;
    }
    &__box {
        margin: 0 auto;
        width: 50%;
        box-shadow: -3px -3px 10px #000, 3px 3px 10px #000;
        background-color: #e2ecf5;
    }
    &__item {
        border-bottom: 3px solid #e2ecf5;
    }
    &__item-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 35px;
        height: 80px;
        background-color: $main;
        color: $main2;
        font-size: 22px;
        cursor: pointer;
    }
    &__ask {
        font-size: 22px;
    }
    &__ans {
        padding: 25px 35px;
        font-size: 18px;
        color: #000;
        text-align: justify;
        font-family: 'Nunito-Regular';
    }
    &__icon {
        font-size: 36px;
        transition: .9s;
    }
    &__item-wrapper.active {
        .faq__icon {
            transform: rotate(180deg);
        }
    }
}

.footer {
    background-color: $main;
    background-image: url(../images/footer.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    &__inner {
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__logo {
        width: 215px;
        height: 55px;
        margin-right: auto;
        margin-left: 50px;
        background-image: url(../images/logo.png);
        background-size: contain;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 130px;
    }
    &__link {
        color: #fff;
        font-size: 21px;
        line-height: 38px;
        font-family: 'Nunito-Regular';
        &:hover {
            color: $main2;
        }
    }
    &__link + .footer__link {
        margin-bottom: 5px;
    }
    &__icon {
        display: inline;
        &:before {
            padding-top: 5px;
            padding-right: 15px;
        }
    }
    &__snetwork {
        display: flex;
        justify-content: space-between;
        .snetwork__link {
            color: #fff;
            border: 1px solid  #fff;
            font-size: 30px;
            margin-left: 12px;
            padding: 18px;
            border-radius: 50%;
            transition: all .3s;
            &:hover {
                box-shadow: -1px -1px 4px rgb(92, 92, 92), 3px 3px 8px #000;
            }
            &:active {
                border: 1px solid rgb(162, 162, 162);
                box-shadow: inset 2px 2px 8px #000;
            }
            &.menu-btn {
                color:  $act;
                border: 1px solid transparent;
                cursor: pointer;
                &:hover {
                    border: 1px solid $act;
                }
                &:active {
                    box-shadow: inset 2px 2px 8px #000;     
                }
            }
        }
    }
    &__bottom {
        background-color: $dark;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        font-family: 'Nunito-Regular';
    }
    &__bottom-link {
        color: $main2;
        &:hover {
            color: $act;
        }
    }
}
//----------------------------------------portfolio
.header--mini {
    border-bottom: 2px solid #000;
    .header__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 15px;
        align-items: center;
        width: 100%;
    }
    .snetwork {
        position: static;
        transition: all .7s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-right: 35px;
        &__link {
            font-size: 34px;
            color: $main;
            border: 1px solid $main;
            margin-right: 12px;
            padding: 18px;
            border-radius: 50%;
            transition: all .3s;
            &.menu-btn {
                color: $act;
                border: 1px solid $act;
                cursor: pointer;
                &:active {
                    border: 1px solid $act;
                    box-shadow: inset 2px 2px 8px #000;     
                }
            }
            &:hover {
                box-shadow: -1px -1px 4px rgb(92, 92, 92), 3px 3px 8px #000;
            }
            &:active {
                border: 1px solid rgb(162, 162, 162);
                box-shadow: inset 2px 2px 8px #000;
            }
        }
    }
    .menu {
        box-shadow: -1px -1px 4px rgb(92, 92, 92), 3px 3px 8px #000;
    }
}
// border: 1px solid blue;
.portfolio {
    &__inner {
        padding: 100px 15px;
        text-align: center;
    }
    &__description {
        font-size: 24px;
        line-height: 30px;
        width: 60%;
        margin: 0 auto 40px;
    }
    &__title {
        text-transform: uppercase;
        font-family: 'RubikMonoOne-Regular';
        font-size: 48px;
        margin-bottom: 100px;
    }
}
.works {
    &__buttons {
        margin-bottom: 90px;
    }
    &__btn {
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px 35px;
        cursor: pointer;
        &:focus {
            outline: none;
            background-color: $act;
        }
    }
    &__collection {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        border: 1px solid transparent;
        width: 494px;
        height: 272px;
        position: relative;
        border: 1px solid grey;
        margin-bottom: 45px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        box-shadow: 4px 4px 8px #000;
        display: block;
    }
    &__line {
        position: absolute;
        background-color: transparent;
        width: 100%;
        top: 50%;
        transform: translate(0, -50%);
        margin: 0 2px;
        transition: .5s;
    }
    &__title {
        color: #fff;
        font-size: 0;
        padding: 18px 0;
        transition: .5s;
        &--name {
            text-transform: uppercase;
            display: block;
            font-size: 0;
            transition: .5s;
            margin-bottom: -3px;
        }
    }
    &__box {
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 494px;
        height: 272px;

        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        transition: .7s;
        &--base {
            background-image: url(../images/portfolio/base/base-prev.jpg);
        }
        &--btools {
            background-image: url(../images/portfolio/btools/btools-prev.jpg);
        }
        &--clarity {
            background-image: url(../images/portfolio/clarity/clarity-prev.jpg);
        }
        &--storm {
            background-image: url(../images/portfolio/storm/storm-prev.jpg);
        }
        &--easyportal {
            background-image: url(../images/portfolio/easyportal/easyportal-prev.jpg);
        }
        &--bene {
            background-image: url(../images/portfolio/bene/bene-prev.jpg);
        }
    }
    &__item:hover {
        border: 1px solid transparent;
        .works__box {
            filter: blur(2px) brightness(40%);
        }
        .works__line {
            background-color: $main;
        }
        .works__title {
            font-size: 18px;
        }
        .works__title--name {
            font-size: 24px;
        }
    }
}
.urgently, .urgently--1 {
    height: 500px;
    &:before {
        height: 500px;
    }
}
.urgently:before {
    background-image: url(../images/slider/1.jpg);
}
.urgently--1:before {
    background-image: url(../images/slider/3.jpg);  
}

//----------------------------------------blog
.showcase {
    &__inner {
        margin: 50px 0 70px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 600px;
    }
    &__col {
        width: 50%;
        height: 100%;
        img {
            display: block;
            width: 100%;
            height: 100%;
            filter: brightness(50%);
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        &--title {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 30px;
            line-height: 25px;
            z-index: 2;
            color: #fff;
            margin-left: 25px;
            margin-bottom: 15px;
            max-width: 80%;
            text-shadow: 2px 2px 4px #000;
        }
    }
    &__col--2 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .showcase__img {
            width: 50%;
            height: 50%;
        }
        .showcase__img--title {
            font-size: 18px;
        }
    }
    &__readmore {
        height: 100%;
        padding-top: 25px;
        font-size: 16px;
        transition: .7s;
        margin-bottom: -40px;
        &:before {
            content: "\f054";
            font-family: 'icomoon';
            margin-right: 10px;
            font-size: 16px;
            transition: .7s;
        }
    }
    &__col--2 .showcase__readmore {
        padding-top: 15px;
        font-size: 14px;
        &:before {
            font-size: 14px;
        }
    }
    &__img {
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: $main-op;
            z-index: 1;
            transition: .4s;
        }
        &:hover:before {
            height: 100%;
        }
        &:hover {
            .showcase__readmore {
                margin-bottom: 0;
            }
        }
    }

}
.anonses {
    margin-bottom: 70px;
}
.anons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: .4s;
    margin-bottom: 50px;
    &__img {
        width: 25%;
        height: 100%;
        position: relative;
        img {
            display: block;
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
            transition: .4s;
        }
    }
    &__readmore {
        position: absolute;
        top: 50%;
        left: 50%;
        color: transparent;
        font-size: 30px;
        transform: translate(-30%, -50%);
        transition: .4s;
    }
    &__info {
        padding: 0 50px;
        color: #000;
    }
    &__title {
        font-size: 36px;
        line-height: 36px;
        transition: .4s;
    }
    &__text {
        font-size: 20px;
        text-align: justify;
    }
    &:hover {
        border: 1px solid grey;
        .anons__title {
            font-size: 40px;
            line-height: 31px;
        }
        .anons__img:before {
            background-color: $main-op;
        }
        .anons__readmore {
            color: #fff;
        }
    }
}
//----------------------------------------portfolio-site-page
.card {
    &__inner {
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__gallery {
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__link {
        display: block;
        margin-bottom: 30px;
        max-height: 205px;
        position: relative;
        img {
            border: 1px solid $main2;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }
    }
    &__overlay {
        width: 100%;
        height: 0;
        background-color: $main-op;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .4s;
        &::before {
            color: #fff;
            font-size: 0;
            transition: .4s;
        }
    }
    &__link:hover {
        img {
            border: 1px solid transparent;
        }
        .card__overlay {
            height: 100%;
            &:before {
                font-size: 60px;
            }
        }
    }
    &__info {
        width: 50%;
        padding-left: 70px;
    }
    &__title {
        text-transform: uppercase;
        font-size: 24px;
        background-color: $main;
        padding: 30px 0;
        text-align: center;
        width: 100%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        color: #fff;
        position: relative;
        &:before {
            content: '';
            background-color: $main;
            position: absolute;
            left: 90%;
            top: 0;
            height: 100%;
            width: 1000%;
        }
        margin-bottom: 40px;
    }
    &__note {
        font-size: 24px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        &--icon {
            font-size: 36px;
            margin-right: 25px;
        }
    }
    &__list {
        margin-bottom: 45px;
    }
    &__url {
        display: flex;
        background-color: $main;
        max-width: 40%;
        text-align: center;
        color: #fff;
        font-size: 20px;
        padding: 12px 0;
        border-radius: 30px;
        margin-top: auto;
        justify-content: center;
        align-items: center;
        &:before {
            content: "\e915";
            font-family: icomoon;
            margin-right: 15px;
        }
        &:hover {
            box-shadow: 2px 2px 8px #000;
        }
        &:active {
            box-shadow: inset 2px 2px 8px #000;
        }

    }
}